= form_for :session, :url => session_path do |f|
  .text_field
    = f.label :email
    = f.text_field :email, :type => 'email'
  .text_field
    = f.label :password
    = f.password_field :password
  .submit_field
    = f.submit 'Sign in', class: "small button radius"
