/ The Orbit slider is initialized by calling .orbit() on #slider
.row
  .ten.columns.centered
    #slider
      = image_tag ("about_01.jpg")
      = image_tag ("about_02.jpg")      
      = image_tag ("about_03.jpg")
      = image_tag ("about_04.jpg") 

    = image_tag('img_intro.png', size: "900x180", alt: "intro text for chasing buddha dvd")


.row
  .five.columns.offset-by-one
    %p
      Australian ex-Catholic, ex-political activist and feminist, Robina Courtin has been a Buddhist nun since 1978. Teaching Buddhism around the world, she shatters the stereotype of a Buddhist nun, her intense and direct style leaving an indelible impression on everyone she meets.
 
    %p
      In the heart of America’s bible belt, Robina visits Kentucky State Penitentiary, guiding death row inmates and others on the path to enlightenment. Determined to harness their minds and deal with their violent crimes, they inspire Robina to work even harder at her own rigorous spiritual practice.

    %p
      A bold, powerful, multi-award-winning film from internationally acclaimed filmmaker Amiel Courtin-Wilson
  .five.columns.end 
    %p
      whose uncompromising films have screened at festivals including Sundance 
      %i (Chasing Buddha)
      , Cannes 
      %i (Cicada, 2009) 
      and the Venice Film Festival 
      %I (Hail, 2011).

    %p
      = image_tag('about_quote.png', size: "400x100", alt: "quote: confrontational, inspiring")
 
    %p
      After 14 years of running Liberation Prison Project, which helps thousands of prisoners throughout the USA and Australia, Robina passed on the job of executive director to a colleague in Australia in 2009. She maintains contact with many old friends in prison.