- provide(:title, 'Amiel Courtin-Wilson')

.row
  .ten.columns.centered
    #slider
      = image_tag ("amiel_01.jpg")
      = image_tag ("amiel_02.jpg")
      = image_tag ("amiel_03.jpg")
      = image_tag ("amiel_04.jpg")
      = image_tag ("amiel_05.jpg")
    %hr
   
.row
  .five.columns.offset-by-one
    %p
      %b
      Amiel Courtin-Wilson 
      made his first film at age 9 and at 17 won the Longford Nova Award at the 1996 St Kilda Film Festival.

    %p
      At age 19, Amiel wrote, directed and produced 
      %i Chasing Buddha, 
      his debut feature documentary, which premiered at Sundance in 2000. 
      %i Chasing Buddha 
      was nominated for an Australian Film Institute (AFI) Award for Best Direction, and won a slew of additional awards, including Best Documentary at the 2000 Sydney Film Festival’s Dendy Awards and the IF (Inside Film) Awards.

    %p
      With 15 short and three feature documentary credits, he has also directed and produced music clips, exhibited his video art internationally and presented guest lectures at the likes of UCLA in California.

    %p
      Amiel has directed work for Opera Australia, Chunky Move contemporary dance company and musical artists such as the Avalanches and Mix Master Mike. His films have screened at the National Gallery of Victoria, the Gallery of New South Wales and he is a regular contributor to national and international film and art magazines and journals.

    %p
      After forming the production entity Flood Projects in 2008, Amiel’s feature documentary 
      %i Bastardy 
      won the Best Documentary Jury Prize at the 2009 Film Critics Circle of Australia Awards (FCCA) and Best Documentary at the ATOM Awards. 
      %i Bastardy 
      was released nationally, received huge critical acclaim across Australia and was nominated for three AFI Awards.

  .five.columns.end  
    %p
      Amiel’s latest short film 
      %i Cicada 
      had its international premiere at the highly prestigious Cannes Film Festival in 2009, as part of Director’s Fortnight. 
      %i CICADA 
      went on to win the SBS Television Award at the 2009 St Kilda Film Festival and was nominated for Best Documentary at the 2009 Australian Director’s Guild (ADG) Awards and the 2009 ATOM Awards.
      = image_tag('amiel_quote.png', size: "400x100", alt: "quote: an intimate portrait")
    %p
      Amiel’s first solo exhibition of drawings was recently held at Utopian Slumps Gallery in Melbourne. Amiel is currently developing several feature films, a feature length concert film with infamous outsider musician Jandek, and his latest feature-length documentary Ben Lee: Catch My Disease premiered at the Melbourne International Film Festival in 2011.

    %strong= link_to 'floodprojects.com', 'http://www.floodprojects.com', target: "_blank"