- provide(:title, 'Contact Information')

/ The Orbit slider is initialized by calling .orbit() on #slider
.row
  .ten.columns.centered
    #slider
      = image_tag ("about_02.jpg")
      = image_tag ("about_03.jpg")      
      = image_tag ("about_01.jpg")
    %hr

.row
  .ten.columns.offset-by-one.end
    %h4
      Please contact Kate Macdonald at 
      = mail_to 'info@chasingbuddhafilm.com', "info@chasingbuddhafilm.com", :encode => "javascript", :subject => "Contact from Chasingbuddhafilm.com site", :title => "Send an email from your computer."
    %h5= link_to 'robinacourtin.com', "http://www.robinacourtin.com", target: "_blank"
    %h5= link_to 'floodprojects.com', "http://www.floodprojects.com", target: "_blank"