- provide(:title, 'Contact Information')

/ The Orbit slider is initialized by calling .orbit() on #slider
.row
  .ten.columns.centered
    #slider
      = image_tag ("contact_01.jpg")
      = image_tag ("contact_02.jpg")     
      = image_tag ("contact_03.jpg")
      = image_tag ("contact_04.jpg")

.row
  .three.columns.offset-by-one
    = image_tag('dvd_cover.png', size: "211x300", alt: "DVD cover for Chasing Buddha Film")
  .seven.columns.end
    .panel.callout
      Questions? Contact Joey McNabb at:  
      = mail_to 'joey@chasingbuddhafilm.com', "joey@chasingbuddhafilm.com", :encode => "javascript", :subject => "Contact from Chasingbuddhafilm.com site", :title => "Send an email from your computer."
    
    %h4= link_to 'robinacourtin.com', "http://www.robinacourtin.com", target: "_blank"
    %h4= link_to 'fpmt.org', "http://www.fpmt.org", target: "_blank"
    %h4= link_to 'floodprojects.com', "http://www.floodprojects.com", target: "_blank"
