- provide(:title, 'Praise')

/ The Orbit slider is initialized by calling .orbit() on #slider
.row
  .ten.columns.centered
    #slider
      = image_tag ("praise_01.jpg")
      = image_tag ("praise_02.jpg")
      = image_tag ("praise_03.jpg")
      = image_tag ("praise_04.jpg")

.row
  .five.columns.offset-by-one
    = render @evens || 'no praise'
  .five.columns.end
    = render @odds || 'no praise'