- provide(:title, 'Robina Courtin')

.row
  .ten.columns.centered
    #slider
      = image_tag ("robina_01.jpg")
      = image_tag ("robina_02.jpg")
      = image_tag ("robina_06.jpg")
      = image_tag ("robina_07.jpg")
.row
  .five.columns.offset-by-one
    %p
      Australian-born Tibetan Buddhist nun Robina Courtin travels the world teaching Buddhist psychology and philosophy. Well known for her work for 14 years with people in prisons in Australia and the US, including inmates on death row, Robina’s life and work has been the subject of Australian Broadcasting Commission’s 
      %i Key to Freedom 
      (2008), as well as 
      %i Chasing Buddha
      , which her nephew Amiel made in 1999.
 
    %p
      Born in Melbourne in 1944, she was educated at a Catholic convent. “From the time I first went to Mass, I knew I wanted to be a priest,” she says. “But everyone laughed and said it wasn’t possible – I’d have to be a nun instead.” When she was 12, she – unsuccessfuly – begged her mother to allow her to become a nun like her hero, St. Thérèse of Lisieux.

    %p
      Robina left home when she was 23 to continue studying classical singing, in London. “My mother, who was a singer and pianist and my teacher, had great hopes for me. But it was the 1960s and I ripe and ready for revolution.”

    %p
      Soon she became intensely involved first in the radical left, then working full time for a London-based group that supported black and Chicano prisoners, and finally immersing herself in radical feminist politics. “I was always wanting a view, a way to understand the world.” Back in Australia in the early 1970s, she was deeply involved in the radical feminist movement in Melbourne.

    %p
      “But I kept moving internally. I wasn’t satisfied and found myself wanting something spiritual again.” In her quest for a spiritual path Robina took up martial arts, continuing in New York in 1974 where she joined a women’s dojo. Back in Australia in 1976, a broken foot stopped her in her tracks and, while recuperating, attended a Tibetan Buddhist course in Queensland given by Lama Yeshe and Lama Zopa Rinpoche.

  .five.columns.end
    %p
      “Finally I found what my mind had been searching for: a coherent way of seeing the world and practical methods for life.” She was ordained as a Buddhist nun at Kopan Monastery in Kathmandu in February 1978.

    %p
      = image_tag('robina_quote.png', size: "400x100", alt: "quote: confrontational, inspiring")

    %p
      “Every couple of years I’d return to Australia and, of course, would see my family – five sisters and a brother. Polly, an artist, gave birth to Amiel in 1979. Even as a tiny kid, he would watch videos all night with his father. He already identified himself as a filmmaker.”

    %p
      When he was 19, in 1998, he emailed Robina, who was then based in the United States, saying he wanted to write a script about her life. “Don’t just write the script,” she told him. “Why don’t you come and make the movie?” And he did.

    %p
      Robina had begun working with people in prison since 1996. “Such inspiring work. People with nothing and no one: so much determination to work on their minds, change themselves.” A central part of 
      %i Chasing Buddha 
      is the footage of her visit to Kentucky State Penitentiary. She passed on the running of Liberation Prison Project in 2009.

    %p
      She now teaches full time around the world at the centers of her teachers, Lama Thubten Yeshe and Lama Zopa Rinpoche, for whom she has worked since her ordination in their Foundation for the Preservation of the Mahayana Tradition, a worldwide network of Buddhist centers and activities. As well as running the prison project, over the years she has served as editorial director of Wisdom Publications and editor of 
      %i Mandala
      , the magazine of the FPMT.