.row
  .small-10.columns.end
    = form_for(@post) do |f|
      = render 'error_messages', object: f.object
      .row
        .small-8.columns.end
          .field
            = f.label :title
            = f.text_field :title, { placeholder: 'enter a title article' }
          .field
            = f.label :url
            = f.text_field :url, { placeholder: 'enter a web url including http://' }
          .field
            = f.label :content
            = f.text_area :content, { rows: 10 }
          .field
            = f.label :author
            = f.text_field :author
          .field
            = f.label :publish_date
            = f.text_field :publish_date, id: 'calendar'
          .field
            = f.label :position
            = f.number_field(:position, step: "5.0")

        %hr
        = f.submit 'save', class: 'secondary button'
        = link_to 'cancel', :back, class: 'alert button'
