.row
  .ten.columns
    = form_for(@post) do |f|
      = render 'error_messages', object: f.object
      .row
        .eight.columns
          .field
            = f.label :title
            = f.text_field :title, { id: 'brandname', placeholder: 'enter a title article' }
          .field
            = f.label :blurb
            = f.text_area :blurb, { rows: 3, placeholder: 'blurb is a brief sentence to go under news item title.' }
          .field
            = f.label :content
            = f.text_area :content, { rows: 10, id: 'contentmarkdown', placeholder: 'this text field uses markdown to help format  your content' }
          .field
            = f.label :author
            = f.text_field :author
          .field
            = f.label :publish_date
            = f.text_field :publish_date, id: 'calendar'

        %hr
        .row
          .six.columns
            = f.submit 'save', class: 'secondary button'
            = link_to 'cancel', :back, class: 'alert button'