%h5= link_to post.title, post.url, alt: "#{post.title} | by #{post.author}", target: "_blank"
%i= post.author + ", #{post.publish_date.strftime("%b %-d, %Y")}"
%br
%quote
  = post.content
- if signed_in?
  = link_to 'edit', edit_post_path(post), :class => 'small button secondary'
  = link_to 'delete', post, :data => { :confirm => 'Are you sure?' }, :method => :delete, :title => 'Hasta la vista baby', :class => 'small button alert'
%hr
