- provide(:title, 'Press')

/ The Orbit slider is initialized by calling .orbit() on #slider
.row
  .ten.columns.centered
    #slider
      = image_tag ("about_03.jpg")
      = image_tag ("robina_03.jpg")     
      = image_tag ("about_05.jpg")     
      = image_tag ("amiel_01.jpg")      
      = image_tag ("amiel_05.jpg")

- unless @posts.nil?
  .row
    .ten.columns.centered
      = render @posts