- provide(:title, 'Press')

/ The Orbit slider is initialized by calling .orbit() on #slider
.row
  .ten.columns.centered
    #slider
      = image_tag ("robina_03.jpg")
      = image_tag ("press_01.jpg")
      = image_tag ("press_02.jpg")
      = image_tag ("amiel_04.jpg") 
.row
  .five.columns.offset-by-one
    = render @evens || 'no posts'
  .five.columns.end
    = render @odds || 'no posts'