/ Footer
%footer
  .row
    .twelve.columns
      %hr
      .row
        .six.columns
          %p &copy; #{Date.today.strftime("%Y")} Chasing Buddha, a film by Amiel-Courtin Wilson
        .six.columns
          %ul.link-list.right
            %li
              = link_to 'about', about_path
            %li
              = link_to 'contact', contact_path
            %li
              = link_to 'news', news_path
            %li
              = link_to 'buy now', buy_path, title: 'Buy the Chasing Buddha DVD Today!', class: 'button radius small'
