/ Header and Nav
.row
  .six.columns
    #logo
      = link_to image_tag('lgo_chasingb.png', :size => '600x120'), root_path, :alt => "Chasing Buddha Film Title", :title => "home"
  .six.columns
    %ul.nav-bar.right
      %li
        = link_to 'about', about_path
      %li
        = link_to 'contact', contact_path
      %li
        = link_to 'news', news_path
      %li
        = link_to 'synopsis', synopsis_path
/ End Header and Nav
