%dl.sub-nav
  %dd{class: current_page?(buy_path) ? "active" : ""}
    %strong= link_to 'buy now', buy_path, title: 'Buy the Chasing Buddha DVD Today!'
  
  %dd{class: current_page?(about_path) ? "active" : "inactive"}
    = link_to 'about', about_path

  %dd{class: current_page?(amiel_path) ? "active" : "inactive"}
    = link_to 'amiel', amiel_path

  %dd{class: current_page?(robina_path) ? "active" : "inactive"}
    = link_to 'robina', robina_path

  %dd{class: current_page?(press_path) ? "active" : "inactive"}
    = link_to 'press', press_path

  %dd{class: current_page?(contact_path) ? "active" : "inactive"}
    = link_to 'contact', contact_path

  - if signed_in?
    %dd{class: current_page?(dashboard_path) ? "active" : "inactive"}
      = link_to 'dashboard', dashboard_path
   
    %dd= link_to 'sign out', sign_out_path, method: :delete