!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    - # Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application"
    = csrf_meta_tags
  %body{:class => body_class}
    %header
      = render 'header'
    = yield
    = javascript_include_tag "application"
    = render 'analytics' unless Rails.env.development?
